body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

.playground-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; /* Spacing between rows */
}
